<div class="top-tool clearfix">
    <!--学校顶部logo 和 学校名字  -->
    <div class="tool-1">
        <img src="./images/logo11.png" alt="logo">
        <div class="titles">
            <h2>中南大学第一附属小学</h2>
            <span>First Affiliated Primary School of Central South University</span>
        </div>
    </div>
    <!--导航部分  -->
    <nav class="clearfix">
        <ul class="layui-nav myNav" lay-filter="demo">
            <li class="layui-nav-item one">
                <a href="./index.html">
                    <span class="zh1"> 学部首页</span>
                </a>
            </li>
            <li class="layui-nav-item two">
                <a href="javascript:void(0);">
                    <span class="zh1">走进中南</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="./xq.html?key=1">学校简介</a></dd>
                    <dd><a href="./newList.html?key=2">领导班子</a></dd>
                    <dd><a href="./newList.html?key=3">校园风采</a></dd>
                    <dd><a href="./newList.html?key=4">荣誉之窗</a></dd>
                    <dd><a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3D%E4%B8%AD%E5%8D%97%E5%A4%A7%E5%AD%A6%E7%AC%AC%E4%B8%80%E9%99%84%E5%B1%9E%E5%B0%8F%E5%AD%A6" target="_blank">学校地图</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item three">
                <a href="javascript:void(0);">
                    <span class="zh1">教师风采</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="./newList.html?key=6">语文组</a></dd>
                    <dd><a href="./newList.html?key=7">数学组</a></dd>
                    <dd><a href="./newList.html?key=8">综合组</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item fore">
                <a href="javascript:void(0);">
                    <span class="zh1">学校公告</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="./newList.html?key=9">学校动态</a></dd>
                    <dd><a href="./newList.html?key=10">通知公告</a></dd>
                    <dd><a href="./newList.html?key=11">一周工作</a></dd>
                    <dd><a href="./newList.html?key=12">招生招聘</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item five">
                <a href="javascript:void(0);">
                    <span class="zh1">教育教学</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="./newList.html?key=13">德育之家</a></dd>
                    <dd><a href="./newList.html?key=14">教研天地</a></dd>
                    <dd><a href="./newList.html?key=15">教务中心</a></dd>
                    <dd><a href="./newList.html?key=16">课题研究</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item six">
                <a href="javascript:void(0);">
                    <span class="zh1">学生乐园</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="./newList.html?key=17">学生风采</a></dd>
                    <dd><a href="./newList.html?key=18">社团活动</a></dd>
                    <dd><a href="./newList.html?key=19">精彩习作</a></dd>
                    <dd><a href="./newList.html?key=20">班级展示</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item one">
                <a href="javascript:void(0);">
                    <span class="zh1"> 家校联系</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="https://www.wjx.top/jq/25754076.aspx" target="_blank">校长信箱</a></dd>
                    <dd><a href="./newList.html?key=21">班级博客</a></dd>
                    <dd><a href="./ing.html" target="_blank">成绩查询</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item two">
                <a href="./newList.html?key=22">
                    <span class="zh1"> 党建之窗</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- 部门介绍 -->
    <!-- <div class="introduce">
        <p class="til-p">introduce</p>
        <p class="content-p">
            同升湖实验学校初中部，始终秉持“人人都是人才、个个都可以成才”的育人理念</br>始终相信“每一个孩子都有可以优秀的潜质”</br> 始终坚持“为每一个孩子的多元发展设计个性化的成人成才方案”。
        </p>
    </div> -->
</div>